In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("telecom2.csv", na_values=[None, "?"])
df.head()

,Unnamed: 0,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,0,1.304243e+19,4/24/2019 4:38,911.0,4/25/2019 4:38,877.0,86399.0,2.082017e+14,3.366333e+10,8.637690e+13,...,13802192.0,21689987.0,12449939.0,17021389.0,51310359.0,12641257.0,647415513.0,7140119.0,62972961.0,87202024.0
1,1,1.304243e+19,4/24/2019 4:38,323.0,4/25/2019 4:38,350.0,86400.0,2.082019e+14,3.376144e+10,8.690840e+13,...,20425845.0,8132424.0,11959686.0,21458181.0,286266788.0,3077718.0,814798553.0,7231643.0,43934992.0,328088113.0
2,2,7.277826e+18,4/24/2019 4:38,109.0,4/25/2019 4:38,26.0,86399.0,2.082017e+14,3.369941e+10,8.637690e+13,...,5726443.0,15184310.0,1407561.0,5848822.0,639401226.0,9105994.0,700114929.0,7362738.0,40740382.0,649958286.0
3,3,1.304243e+19,4/24/2019 4:38,548.0,4/25/2019 4:38,524.0,86399.0,2.082019e+14,3.366152e+10,8.637690e+13,...,6704514.0,4830208.0,8083339.0,8839830.0,673025343.0,4388337.0,186329779.0,4710543.0,23578404.0,700768936.0
4,4,1.304243e+19,4/24/2019 4:38,44.0,4/25/2019 4:38,974.0,86399.0,2.082014e+14,3.366601e+10,8.637690e+13,...,5993138.0,14006706.0,5724197.0,6573039.0,560631160.0,9604499.0,698958110.0,16261915.0,47615420.0,580727817.0

In [ ]:
# to check the null 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 56 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Unnamed: 0                                150001 non-null  int64
 1   Bearer Id                                 149010 non-null  float64
 2   Start                                     150000 non-null  object
 3   Start ms                                  150000 non-null  float64
 4   End                                       150000 non-null  object
 5   End ms                                    150000 non-null  float64
 6   Dur. (ms)                                 150000 non-null  float64
 7   IMSI                                      149431 non-null  float64
 8   MSISDN/Number                             148935 non-null  float64
 9   IMEI                                      149429 non-null  float64
 10  Last Location Name                        148848 non-null  object
 11  Avg RTT DL (ms)                           122172 non-null  float64
 12  Avg RTT UL (ms)                           122189 non-null  float64
 13  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 14  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 15  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 16  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 17  DL TP < 50 Kbps (%)                       149247 non-null  float64
 18  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 19  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 20  DL TP > 1 Mbps (%)                        149247 non-null  float64
 21  UL TP < 10 Kbps (%)                       149209 non-null  float64
 22  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 23  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 24  UL TP > 300 Kbps (%)                      149209 non-null  float64
 25  HTTP DL (Bytes)                           68527 non-null   float64
 26  HTTP UL (Bytes)                           68191 non-null   float64
 27  Activity Duration DL (ms)                 150000 non-null  float64
 28  Activity Duration UL (ms)                 150000 non-null  float64
 29  Dur. (ms).1                               150000 non-null  float64
 30  Handset Manufacturer                      149429 non-null  object
 31  Handset Type                              149429 non-null  object
 32  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 33  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 34  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 35  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 36  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 37  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 38  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 39  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 40  Social Media DL (Bytes)                   150001 non-null  float64
 41  Social Media UL (Bytes)                   150001 non-null  float64
 42  Google DL (Bytes)                         150001 non-null  float64
 43  Google UL (Bytes)                         150001 non-null  float64
 44  Email DL (Bytes)                          150001 non-null  float64
 45  Email UL (Bytes)                          150001 non-null  float64
 46  Youtube DL (Bytes)                        150001 non-null  float64
 47  Youtube UL (Bytes)                        150001 non-null  float64
 48  Netflix DL (Bytes)                        150001 non-null  float64
 49  Netflix UL (Bytes)                        150001 non-null  float64
 50  Gaming DL (Bytes)                         150001 non-null  float64
 51  Gaming UL (Bytes)                         150001 non-null  float64
 52  Other DL (Bytes)                          150001 non-null  float64
 53  Other UL (Bytes)                          150001 non-null  float64
 54  Total UL (Bytes)                          150000 non-null  float64
 55  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), int64(1), object(5)
memory usage: 64.1+ MB

In [ ]:
# sum null
df.isna().sum()

Unnamed: 0                                       0
Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [ ]:
df.describe()
# df['Start ms'].describe()

,Unnamed: 0,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,150001.000000,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,75000.000000,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,43301.703202,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,0.000000,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,37500.000000,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,75000.000000,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,112500.000000,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,150000.000000,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [ ]:
# column names
df.columns.tolist()

['Unnamed: 0',
 'Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [ ]:
# number of data points
print(f" {df.shape[0]} rows and {df.shape[1]} columns")

 150001 rows and 56 columns

In [ ]:
# how many missing values exist or better still 
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print(round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df)

12.28 % missing values.

In [ ]:
# column_names = df.columns.to_list()
num_missing = df.isnull().sum()
shape = df.shape
num_rows = df.shape[0]

data = {
    # 'column_names': column_names, 
    'num_missing': num_missing, 
    'percent_missing (%)': [round(x,2) for x in num_missing/num_rows*100]
}

stats = pd.DataFrame(data)